.SideBar {
  background-color: #282c34;
  width: 250px; /* Largura da sidebar */
  height: 100vh; /* Altura da sidebar, ocupando toda a altura da tela */
  position: fixed; /* Fixa a posição da sidebar na tela */
  top: 0; /* Alinha a sidebar ao topo da tela */
  left: 0; /* Alinha a sidebar à esquerda da tela */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para dar profundidade */
  display: flex; /* Utiliza flexbox para alinhar os itens dentro da sidebar */
  flex-direction: column; /* Alinha os itens em uma coluna */
  gap: 10px; /* Espaçamento entre os itens */
}

.SideBar a {
  color: white; /* Cor do texto dos links */
  text-decoration: none; /* Remove o sublinhado dos links */
  padding: 10px; /* Espaçamento interno dos links */
  border-radius: 5px; /* Arredonda os cantos dos links */
  transition: background-color 0.3s; /* Transição suave para mudanças de cor */
}

.SideBar a:hover {
  background-color: #444; /* Cor de fundo ao passar o mouse sobre os links */
}

.SideBar h1 {
  color: white; /* Cor do texto do cabeçalho */
  margin-bottom: 20px; /* Espaçamento inferior do cabeçalho */
}

.SideBar .logo {
  width: 100px; /* Largura da logo */
  margin-bottom: 20px; /* Espaçamento inferior da logo */
}

.SideBar .menu {
  flex-grow: 1; /* Faz com que o menu ocupe o espaço disponível */
  display: flex; /* Utiliza flexbox para alinhar os itens do menu */
  flex-direction: column; /* Alinha os itens do menu em uma coluna */
  gap: 10px; /* Espaçamento entre os itens do menu */
}

.SideBar .footer {
  color: white; /* Cor do texto do rodapé */
  font-size: 14px; /* Tamanho da fonte do rodapé */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
